<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>LittleNavi</title>
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.3/dist/leaflet.css"
  integrity="sha512-07I2e+7D8p6he1SIM+1twR5TIrhUQn9+I6yjqD53JQjFiMf8EtC93ty0/5vJTZGF8aAocvHYNEDJajGdNx1IsQ=="
  crossorigin=""/>
  <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
  <script src="https://unpkg.com/vue@2.3.4"></script>
  <script src="js/vues/models.js"></script>
  <script src="js/vues/components.js"></script>
</head>

<body>
  <header>
  </header>
  <section id="naviapp">
    <div id="content">
        <home-screen v-if="page == 'home'"></home-screen>
        <navigation-screen v-if="page == 'navigation'"></navigation-screen>
    </div>
    <div id="menu"></div>
  </section>
  <footer>
  </footer>

  <script type="text/template" id="recent-view-template">
    <div class="recent-date"><%= date %></div>
    <div class="recent-names">
      <div class="recent-name"><%= originName %></div>
      <div class="recent-name"><%= destName %></div>
    </div>
  </script>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.0.3/leaflet.css">
  <script src="https://unpkg.com/leaflet@1.0.3/dist/leaflet.js"
   integrity="sha512-A7vV8IFfih/D732iSSKi20u/ooOfj/AGehOKq0f4vLT1Zr2Y+RX7C+w8A1gaSasGtRUZpF/NZgzSAu4/Gc41Lg=="
   crossorigin=""></script>
   <link rel="stylesheet" href="css/leaflet-routing-machine.css" />
   <script src="js/lib/leaflet-routing-machine.min.js"></script>
   <!-- Load Esri Leaflet from CDN -->
   <script src="https://unpkg.com/esri-leaflet@2.0.8"></script>

   <!-- Esri Leaflet Geocoder -->
   <link rel="stylesheet" href="https://unpkg.com/esri-leaflet-geocoder@2.2.4/dist/esri-leaflet-geocoder.css">
   <script src="https://unpkg.com/esri-leaflet-geocoder@2.2.4"></script>
  <script src="js/start.js"></script>

</body>

</html>
